<div data-ng-controller="NumberCtrl" class="LandingPage text-center" style="border: 1px solid #FFFFBF;background: #111;">
    <div class="row">
        <h1><strong>PLAY WITH NUMBERS</strong></h1>
    </div>
    <div class="row" style="margin-top: 80px; margin-bottom: 60px">

        <label class="number">
            <span>
                <strong>{{ numb1 }}</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong>+</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong>{{ numb2 }}</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong>=</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong>{{ numb3 }}</strong>
            </span>
        </label>

    </div>
    <div class="row">
        <button class="btn btn-success"><i class="fa fa-thumbs-o-up"></i> </button>
        <button class="btn btn-danger"><i class="fa fa-thumbs-o-down"></i> </button>
    </div>

</div>