<div data-ng-controller="gameoverController" class="LandingPage text-center" style="border: 1px solid #FFFFBF;background: #111;">
    <div class="row">
        <h1><strong>PLAY WITH NUMBERS</strong></h1>
    </div>

    <div class="row">
        <h1><strong style="color: green">GAME OVER</strong></h1>
    </div>
    <div class="row">
        <h1><strong style="color: wheat">Your score</strong></h1>
        <p style="font-size: 70px">{{ score }}</p>
    </div>
    <input type="text" class="form-control" style="width: 300px;margin: 10px 108px;text-align: center;" placeholder="Enter your name here !">
    <div class="row">
        <button class="play-again-icon-game btn btn-warning" ng-click="playagain();">
            <i class="fa fa-play"></i>
        </button>
        <button class="play-again-icon-game btn btn-info" ng-click="savescore();">
            <i class="fa fa-save"></i>
        </button>
        <button class="play-again-icon-game btn btn-primary" ng-click="sharefacebook();">
            <i class="fa fa-facebook "></i>
        </button>
    </div>
</div>