/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require font-awesome

@import "font-awesome";
 *= require_tree .
 */


body{
    background: #333333 !important;
}
h1, i{
    color: #ffffff !important;
}
.LandingPage{
    width: 500px;
    height: 600px;
    margin: 50px auto;
}

.number{
    color: wheat;
    font-size: 60px;
    float: left;
    margin: 0 18px;
    padding-top: 35px;
}
button{
    width: 145px;
    height: 90px;
    margin-left: 20px !important;
    margin-top: 40px !important;
}
button > i {
    font-size: 40px;
}
.play-icon-game{
     width: 200px;
     height: 70px;
     margin-left: 20px;
     margin-bottom: -85px !important;
 }
.play-again-icon-game{
    width: 120px;
    height: 80px;
    margin-left: 20px;
    margin-bottom: -85px !important;
}

.btn-main{
    width: 75px;
    height: 45px;
}
.btn-main  > i {
    font-size: 20px;
    color: #730E15 !important;
}

.countdown{
    text-align: left;
    position: fixed;
    width: 295px;
    height: 160px;
    right: 0;
    top:50px;
    border: 1px solid #FFFFBF;

}
.countdown p{
    color: #ffffff;
    font-weight: bold;
    font-size: 27px;
}

.score-table{
    height: 79px;
    background: #111111;
    padding: 20px 15px;
}

/*Popup-score*/
.popup-score{
    width: 400px;
    height: 0px;
    top:0px;
    bottom: 0px;
    left: 365px;
    visibility: hidden;


}
.popup-close{
    position: absolute;
    background: #730E15;
    border: 2px solid #ffffff;
    border-radius: 40px;
    right: 0;
    top: -10px;
    right: -10px;
    visibility: hidden;
}
.btn-show{
    width: 40px;
    height: 40px;
    visibility: visible;
}
.popup-on{
    position: absolute;
    visibility: visible;
    width: 400px;
    height: 550px;
    top: 75px;
    left: 365px;
    background: #ffffff;
    transition: All 0.3s linear;

}

/*Popup-help*/
.popup-help{
    width: 400px;
    height: 0px;
    top:0px;
    bottom: 0px;
    left: 370px;
    visibility: hidden;


}
.popup-help-close{
    position: absolute;
    background: #730E15;
    border: 2px solid #ffffff;
    border-radius: 40px;
    right: 0;
    top: -10px;
    right: -10px;
    visibility: hidden;
}
.btn-help-show{
    width: 40px;
    height: 40px;
    visibility: visible;
}
.popup-help-on{
    position: absolute;
    visibility: visible;
    width: 400px;
    height: 550px;
    top: 75px;
    left: 370px;
    background: #ffffff;
    transition: All 0.3s linear;

}