/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require font-awesome

@import "font-awesome";
 *= require_tree .
 */


body{
    background: #333333 !important;
}
h1, i{
    color: #ffffff !important;
}
.LandingPage{
    width: 500px;
    height: 600px;
    margin: 50px auto;
}

.number{
    color: wheat;
    font-size: 75px;
    float: left;
    margin-left: 49px;
}
button{
    width: 145px;
    height: 90px;
    margin-left: 20px !important;
    margin-top: 40px !important;
}
button > i {
    font-size: 40px;
}
.play-icon-game{
     width: 200px;
     height: 70px;
     margin-left: 20px;
     margin-top: 275px !important;
     margin-bottom: -85px !important;
 }

.btn-main{
    width: 75px;
    height: 45px;
}
.btn-main  > i {
    font-size: 20px;
    color: #730E15 !important;
}

