 <div data-ng-controller="landingController" class="LandingPage text-center" style="border: 1px solid #FFFFBF;">
     <div class="row">
         <h1><strong style="color: #175199; font-size: 55px !important;">PLAY WITH NUMBERS</strong></h1>
     </div>
     <div class="row" style="margin-top: 110px;color: #175199 !important;">
         <i style="font-size: 85px; color: #3fd511 !important;" class="fa fa-spinner fa-spin"></i>
     </div>
     <div class="row" style="margin-top: 20px; margin-left: -3px ">
         Loading...
     </div>
 </div>