<div data-ng-controller="playgameController" class="LandingPage text-center" style="border: 1px solid #FFFFBF;background: #111;">
    <div class="row">
        <h1><strong>PLAY WITH NUMBERS</strong></h1>
    </div>

    <div class="row" style="margin-top: 80px; margin-bottom: 60px; background: #111111; border: 1px solid #FFFFBF; border-bottom: 6px groove #FFFFBF ">
        <label class="number">
            <span>
                <strong style="color: #379914">2</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong style="color: #e3d93d">+</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong style="color: #6072c0">2</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong>=</strong>
            </span>
        </label>
        <label class="number">
            <span>
                <strong style="color: #f33787">4?</strong>
            </span>
        </label>
    </div>


    <div class="row">
        <button class="play-icon-game btn btn-warning" ng-click="letsgo()">
           <i class="fa fa-play"></i>
        </button>
    </div>




    <div class="row" style="margin-left: 60px !important; margin-right: 60px !important; margin-top: 130px; margin-bottom: -170px" ng-hide="status == false">
        <div class="progress progress-striped active ">
            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="progressbarcustomize"><span class="sr-only">45% Complete</span></div>
        </div>
    </div>


    <div class="row" style="height: 110px; margin-top: 145px;">

        <button class="btn-main btn btn-default">
            <i class="fa fa-list"></i>
        </button>
        <button class="btn-main btn btn-default">
            <i class="fa fa-question"></i>
        </button>
        <button class="btn-main btn btn-default">
            <i class="fa fa-facebook"></i>
        </button>

    </div>
</div>