<div class="LandingPage text-center" style="border: 1px solid #FFFFBF;background: #111;">
    <div class="row">
        <h1><strong>PLAY WITH NUMBERS</strong></h1>
    </div>
    <div class="row">
        <button class="play-icon-game btn btn-warning">
           <i class="fa fa-play"></i>
        </button>
    </div>

    <div class="row" style="height: 110px; margin-top: 145px;">

        <button class="btn-main btn btn-default">
            <i class="fa fa-list"></i>
        </button>
        <button class="btn-main btn btn-default">
            <i class="fa fa-question"></i>
        </button>
        <button class="btn-main btn btn-default">
            <i class="fa fa-facebook"></i>
        </button>

    </div>
</div>