<div data-ng-controller="playgameController" class="LandingPage text-center" style="border: 1px solid #FFFFBF;">
    <div class="row">
        <h1><strong style="color: #175199; text-shadow: 4px 5px 15px #dee7f2">PLAY WITH NUMBERS</strong></h1>
    </div>

    <div class="row mid">

    </div>
    <div class="row">
        <button class="play-icon-game btn btn-danger" ng-click="letsgo()">
            <i class="fa fa-play"></i>
        </button>
    </div>

    <div class="row" style="margin-left: 60px !important; margin-right: 60px !important; margin-top: 130px; margin-bottom: -170px" ng-hide="status == false">
        <div class="progress progress-striped active ">
            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="progressbarcustomize"><span class="sr-only">45% Complete</span></div>
        </div>
    </div>






 <script>
  (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=488265594607259&version=v2.0";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
 </script>





    <div class="row" style="height: 110px; margin-top: 145px;">

        <button class="btn-main btn btn-success" ng-click="addclasspopup()">
            <i class="fa fa-list"></i>
        </button>
        <button class="btn-main btn btn-info" ng-click="addclasspopuphelp()">
            <i class="fa fa-question"></i>
        </button>


            <a id="fb-like" style='text-decoration:none;' type="icon_link" onClick="window.open('https://apps.facebook.com/play-with-numbers/');" href="javascript: void(0)">
                <button class="btn-main btn btn-primary">
                <i class="fa fa-thumbs-up"></i>

                </button>
            </a>
    </div>
    <div class="popup-score">
        <div class="popup-close" ng-click="removeClasspopup()">
            <i class="fa fa-minus" style="font-size: 25px;margin-top: 9px;"></i>
        </div>
        <p class="title-score">TOP TEN</p>
        <table>
            <% @userlists.each do |userlist| %>
            <tr>
                <td><%= userlist.name %> </td>
                <td><%= userlist.score %></td>
            </tr>
            <% end %>
        </table>

    </div>
    <div class="popup-help">
        <div class="popup-help-close" ng-click="removeClasspopuphelp()">
            <i class="fa fa-minus" style="font-size: 25px;margin-top: 9px;"></i>
        </div>
        <p class="title-score">HOW TO PLAY</p>
        <div class="content-htp">
            This is a game, pretty easy to play.
            <p></p>
            Simply, you will see on the screen 2 numbers and 1 result.
            <p></p>
            The rest. you need to confirm. See the results that you see are right or wrong.
            <p></p>
            based on 2 buttons that we have designed. and now! let's Experience !
        </div>
    </div>
</div>
